* {
    font-family: "Noto Sans TC", sans-serif;
}

/* 基礎頁面設定*/
body {
    background-color: #5f75a5;
    color: #f7fafc;
}


/* 導覽列 */
.custom-navbar .nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-brand {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
}

/* 卡片布局 */
.card {
    background-color: #2d3748;
    color: #f7fafc;
    border: none;
}

/* AI 生成後的結果布局 */
.result-box {
    background-color: rgba(79, 209, 197, 0.1);
    border: 2px dashed;
    padding: 20px;
    border-radius: 12px;
}

/* AI 結果區塊內容細項樣式 */
#resultArea .badge {
    font-size: 1rem;
    display: inline-block;
}

#resTitle,
#resPrice,
#resDesc {
    font-size: 1.1rem !important;
    margin-left: 2px;
    line-height: 1.8;
}



/* 按鈕樣式*/
.btn-success {
    background-color: #4fd1c5;
    border: none;
    color: #1a202c;
    font-weight: bold;
}

/* 商品清單頁面卡片齊高 */
.product-card {
    height: 100%;
}

/* 商品清單價格顯示 */
.product-card .price-text {
    font-size: 1.25rem;
    color: #ff2e2e;
    font-weight: bold;
}


/* 商品清單設定圖片容器為正方形 */
.card-img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #deedff;
}

/* 強制圖片填滿且不變形 */
.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* 新增商品頁面圖片顯示 */
.preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}